<template>
  <div class="header">
    <a class="header__link" href="/">
      <div class="header__logo">
        <img src="@/images/logo.svg" alt="najdispoj.sk" />
      </div>
      <div class="header__titles">
        <div class="header__title">najdispoj.sk</div>
        <div class="header__subtitle">MHD Bratislava</div>
      </div>
    </a>
  </div>
</template>

<script></script>

<style lang="scss">
.header {
  display: flex;
  justify-content: center;
  padding: 1.75rem 1.25rem;
  z-index: 10;
  position: relative;

  :not(.page_dark) & {
    background-color: $c-light-gray;
  }
  .page_dark & {
    background-color: $c-black;
  }

  &__link {
    @include a-unstyled;

    display: flex;
    text-decoration: none;
    position: relative;
  }

  &__logo {
    padding-right: 1.15rem;

    .page__body_dark & {
      border-color: $c-white;
    }

    img {
      height: 3.75rem;
    }
  }

  &__titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font-size: 1.55rem;
    font-weight: 700;
    opacity: 0.85;
    line-height: 1.55em;
  }

  &__subtitle {
    opacity: 0.65;
    font-size: 0.65rem;
    line-height: 0.8rem;
    font-weight: 400;
    padding-left: 0.5px;
  }
}
</style>
