<template>
  <div class="modal" @click="closeModal()">
    <div class="modal__overlay">
      <div class="modal__container">
        <div class="modal__box" @click.stop="">
          <div class="modal__content" v-if="state.openModal == 'about'">
            <div class="modal__heading">O najdispoj.sk</div>
            <p>
              Cieľom open-source projektu NájdiSpoj.sk je sprehľadniť mestskú
              hromadnú dopravu v Bratislave tak, aby jej rozumel každý. Chceme,
              aby spoľahlivé informácie o najvhodnejšom dopravnom spoji boli
              vždy dostupné na dosah ruky.
            </p>
            <p>
              Projekt je financovaný z nášho vrecka a venujeme sa mu vo voľnom
              čase. Veríme, že Bratislava si ako hlavné mesto podobnú službu
              zaslúži. Vyhľadávač sa snažíme neustále dolaďovať a obohacovať o
              nové užitočné funkcie.
            </p>
            <p>
              <a class="modal__link" href="https://www.facebook.com/najdispoj"
                >facebook.com/najdispoj</a
              >
            </p>
            <p>
              Zdrojový kód klientskej časti (webového rozhrania):<br />
              Licencia
              <a
                class="modal__link"
                href="https://www.gnu.org/licenses/agpl-3.0.en.html"
                >GNU Affero General Public License v3.0</a
              ><br />
              Dostupný na
              <a
                class="modal__link"
                href="https://gitlab.com/najdispoj/najdispoj-web"
                >https://gitlab.com/najdispoj/najdispoj-web</a
              >
            </p>
            <p>
              Zdrojový kód serverovej časti:<br />
              Licencia
              <a
                class="modal__link"
                href="https://www.apache.org/licenses/LICENSE-2.0"
                >Apache License 2.0</a
              ><br />
              Dostupný na
              <a
                class="modal__link"
                href="https://gitlab.com/najdispoj/najdispoj-api"
                >https://gitlab.com/najdispoj/najdispoj-api</a
              >
            </p>
          </div>

          <div class="modal__content" v-if="state.openModal == 'sources'">
            <div class="modal__heading">Zdroje dát</div>
            Cestovné poriadky, informácie o linkách a vozidlách MHD poskytuje
            <a class="modal__link" href="https://dpb.sk"
              >Dopravný podnik Bratislava, a. s.</a
            >
          </div>

          <div class="modal__content" v-if="state.openModal == 'ticket'">
            <div class="modal__heading">SMS cestovný lístok</div>
            <div class="modal__disclaimer">
              Pred odoslaním SMS si na nasledujúcom odkaze overte, či sú nižšie
              uvedené informácie aktuálne platné.
              <a class="modal__ticket-info" href="https://dpb.sk/sk/sms-listok"
                >Aktuálne informácie o SMS lístkoch na dpb.sk</a
              >
              Zakúpený cestovný lístok nájdete v zozname prijatých SMS správ na
              Vašom zariadení. NájdiSpoj.sk nezodpovedá za správnosť údajov
              uvedených na tejto stránke, ktorá slúži iba ako jednoduché
              presmerovanie do SMS aplikácie.
            </div>
            <div class="modal__tickets">
              <div class="modal__ticket">
                <a class="ticket" href="sms:1140">
                  <div class="ticket__heading">SMS cestovný lístok</div>
                  <div class="ticket__zones">
                    <div class="ticket__zones-label">Zóny</div>
                    <div class="ticket__zones-value">100+101</div>
                  </div>
                  <div class="ticket__price">
                    <div class="ticket__price-label">Cena</div>
                    <div class="ticket__price-value">1,00 €</div>
                  </div>
                  <div class="ticket__validity">
                    <div class="ticket__validity-label">Platnosť</div>
                    <div class="ticket__validity-value">40 minút</div>
                  </div>
                  <div class="ticket__button">Poslať SMS</div>
                </a>
              </div>
              <div class="modal__ticket">
                <a class="ticket" href="sms:1100">
                  <div class="ticket__heading">SMS cestovný lístok</div>
                  <div class="ticket__zones">
                    <div class="ticket__zones-label">Zóny</div>
                    <div class="ticket__zones-value">100+101</div>
                  </div>
                  <div class="ticket__price">
                    <div class="ticket__price-label">Cena</div>
                    <div class="ticket__price-value">1,30 €</div>
                  </div>
                  <div class="ticket__validity">
                    <div class="ticket__validity-label">Platnosť</div>
                    <div class="ticket__validity-value">70 minút</div>
                  </div>
                  <div class="ticket__button">Poslať SMS</div>
                </a>
              </div>
              <div class="modal__ticket">
                <a class="ticket" href="sms:1124">
                  <div class="ticket__heading">SMS cestovný lístok</div>
                  <div class="ticket__zones">
                    <div class="ticket__zones-label">Zóny</div>
                    <div class="ticket__zones-value">100+101</div>
                  </div>
                  <div class="ticket__price">
                    <div class="ticket__price-label">Cena</div>
                    <div class="ticket__price-value">4,50 €</div>
                  </div>
                  <div class="ticket__validity">
                    <div class="ticket__validity-label">Platnosť</div>
                    <div class="ticket__validity-value">24 hodín</div>
                  </div>
                  <div class="ticket__button">Poslať SMS</div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Modal",
  props: {
    state: Object
  },
  methods: {
    updateState(key, value) {
      this.$emit("updateState", key, value);
    },
    closeModal() {
      this.updateState("openModal", "");
    }
  }
};
</script>

<style lang="scss">
.modal {
  display: block;
  height: 100%;

  &__overlay {
    background-color: rgba($c-black, 0.5);
    height: 100%;
    padding: 2rem;
  }

  &__container {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__box {
    border-radius: 0.5rem;
    max-height: 100%;
    max-width: 600px;
    overflow: auto;

    :not(.page_dark) & {
      background-color: $c-white;
    }
    .page_dark & {
      background-color: $c-black;
    }
  }

  &__content {
    padding: 1.5rem 2rem;
  }

  &__heading {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 0.65rem;
  }

  &__link {
    @include a-unstyled($c-green);
  }

  &__disclaimer {
    margin-bottom: 1.5rem;
  }

  &__ticket-info {
    @include a-unstyled($c-green);

    display: block;
    margin-bottom: 1rem;
  }

  &__tickets {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -0.5rem;

    @media (max-width: $breakpoint-mobile) {
      flex-direction: column;
    }
  }

  &__ticket {
    display: block;
    padding: 0 0.5rem;
    flex-shrink: 0;
    flex-basis: 33.33%;

    @media (max-width: 800px) {
      flex-basis: 50%;
      margin-bottom: 1rem;
    }
  }
}

.ticket {
  @include a-unstyled;

  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  padding: 0.65rem 0.75rem;
  border: 2px solid $c-green;
  border-radius: 0.65rem;
  width: 100%;

  &__heading {
    margin-bottom: 0.75rem;
    padding-bottom: 0.5rem;
    font-size: 0.75rem;
    font-weight: 700;
    border-bottom: 1px solid $c-border-gray;
    flex-basis: 100%;
  }

  &__zones {
    margin-bottom: 0.65rem;
    flex-grow: 1;
  }

  &__zones-label {
    font-size: 0.75rem;
    opacity: 0.75;
  }

  &__zones-value {
    font-weight: 600;
  }

  &__price {
    margin-bottom: 0.65rem;
  }

  &__price-label {
    font-size: 0.75rem;
    opacity: 0.75;
  }

  &__price-value {
    font-weight: 600;
  }

  &__validity {
    flex-basis: 100%;
    margin-bottom: 0.75rem;
  }

  &__validity-label {
    font-size: 0.75rem;
    opacity: 0.75;
  }

  &__validity-value {
    font-size: 1.5rem;
    font-weight: 600;
  }

  &__button {
    background-color: $c-green;
    padding: 0.65rem;
    border-radius: 0.5rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-align: center;
    flex-basis: 100%;

    :not(.page_dark) & {
      color: $c-white;
    }
    .page_dark & {
      color: $c-black;
    }
  }
}
</style>
