// Colors
$c-white: #ffffff;
$c-light-gray: #f2f2f2;
$c-light-gray-side: #eaeaea;
$c-gray: #262626;
$c-dark-gray: #202020;
$c-black: #000000;
$c-green: #4caf50;
$c-green-light: lighten($c-green, 42);
$c-green-light-side: lighten($c-green, 35);
$c-green-dark: darken($c-green, 30);
$c-blue: #077fcf;
$c-blue-light: lighten($c-blue, 50);
$c-blue-light-side: lighten($c-blue, 45);
$c-blue-dark: darken($c-blue, 25);
$c-yellow: #eeb600;
$c-red: #c20000;
$c-red-light: lighten($c-red, 50);
$c-red-dark: darken($c-red, 25);
$c-border-gray: #dadada;

// Font colors
$c-font-black: #131313;

// Binds
$c-primary: $c-red;
$c-button-bg: $c-light-gray;

// Mixins
@mixin ul-unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}
@mixin a-unstyled($color: false, $hoverUnderline: false) {
  @if $color {
    color: $color !important;
  } @else {
    color: inherit;
  }
  &:hover {
    @if not $hoverUnderline {
      text-decoration: none;
    }
    @if $color {
      color: $color !important;
    } @else {
      color: inherit;
    }
  }
}

// Width breakpoints
$breakpoint-mobile: 500px;

// Font sizes
$font-36px: 2.25rem;
$font-28px: 1.75rem;
$font-26px: 1.625rem;
$font-20px: 1.25rem;
$font-18px: 1.125rem;
$font-16px: 1rem;
$font-14px: 0.875rem;
$font-12px: 0.75rem;
$font-9px: 0.5625rem;

// Typography
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700;800&display=swap");
$font-family: "Mulish", sans-serif;

// Vendors

// Simplebar styles
.simplebar-track.simplebar-vertical {
    width: 4px;
}

.simplebar-scrollbar.simplebar-visible:before {
    opacity: 0.25;
    top: 0 !important;
    bottom: 0 !important;
    right: 0;
    left: 0;
}